:root {
  --dark-black: #292929;
  --dark-gray: #575757;
  --primary-green: #6DA34D;
  --secondary-purple: #56445D;
  --accent-color-teal: #548687;
  --highlight-color: #C5E99B;
  --darker-green: #8FBC94;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--dark-black);
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

#navbar {
  background-color: var(--secondary-purple);
}

.new-think {
  background-color: var(--accent-color-teal);
}

.button {
  background-color: var(--highlight-color);
  color: black;
}

.button:hover {
  background-color: var(--primary-green);
}

.button:focus {
  background-color: var(--primary-green);
}

.footer {
  background-color: var(--dark-gray);
}
