:root {
  --primary-color: #
  --secondary-color: #
  --accent-color: #
  --highlight-color: #
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #353535;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

#navbar {
  background-color: #202020;
  border-bottom: 2px solid gray;
}