:root {
  --dark-black: #202020;
  --dark-gray: #575757;
  --primary-green: #6DA34D;
  --secondary-purple: #56445D;
  --accent-color-teal: #548687;
  --highlight-color: #C5E99B;
  --darker-green: #8FBC94;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--dark-black);
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

a:hover {
  color: var(--highlight-color)
}

#navbar {
  background-color: var(--secondary-purple);
}

.logo {
  margin: 0;
}

.new-think {
  background-color: var(--accent-color-teal);
}

.button {
  background-color: var(--highlight-color);
  color: black;
}

.button:hover {
  background-color: var(--primary-green);
}

.button:focus {
  background-color: var(--primary-green);
}

.idea-bracket {
  border-radius: 1em;
  filter: drop-shadow(0px 0px 6px #000000);
}

.idea-button {
  background-color: var(--dark-black);
  border: 1px solid var(--secondary-purple);
  color: #12b9ec;
  box-shadow: 5px 5px 10px 1px #000000;
}

.idea-button:hover {
  background-color: var(--accent-color-teal);
  border: 1px solid var(--secondary-purple);
}

.idea-button:focus {
  background-color: var(--secondary-purple);
  box-shadow: 0px 0px 15px 1px #05faf6;
}

.footer {
  background-color: var(--dark-gray);
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: var(--highlight-color)
}
